{
  "$schema": "https://Json.schemastore.org/prettierrc",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore"
}
